#root {
  width: 100%;
  min-height: 100vh;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

button {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 999px;
}
